<div class="all">
<form  action="/signin" method="post">
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input class="submit" type="submit" value="SIGN IN">
</form>
<a href="/signup">新規登録はこちら</a>
</div>